<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BankID.IsProduction" value="false" />
    <add key="BankID.CertificateThumbprint" value="" />
    <add key="BankID.SignMessage" value="This is a demo signing." />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>