@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="https://www.bankid.com/" target="_blank">BankID</a> is a citizen identification solution that allows companies, banks and government agencies
    to authenticate and conclude agreements with individuals over the Internet. BankID is the most used digital identification solution in Sweden.
</p>
<p>
    This demo presents the technical implementation and authentication flow of mobile BankID on the web.
    The demo functions as a basic Single Page Application (SPA) - the frontend app communicates with the
    backend API using JavaScript & jQuery, and uses response values to modify the visual view.
    The frontend includes mobile app-launch support for an even more seamless user experience
    (although note that app-launch support is untested for this specific demo).
    The backend runs on MVC & Web API.
</p>
<p>
    This demo and implementation was developed by Mikael Karlgren.
    The full source is available at <a href="https://github.com/kocken/bankid-implementation" target="_blank">github.com/kocken</a>.
</p>