@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<p>A web application demo of BankID.</p>
<p>Created by Mikael Karlgren. Source available at <a>https://github.com/kocken/bankid-implementation</a>.</p>